*.slo
*.lo
*.o
*.obj
*.d
*.so
*.out
*.root
*.swp
*.dat
chikuma_nim_easiroc/reader/NIMEASIROCReaderComp 
chikuma_nim_easiroc/monitor/NIMEASIROCMonitorComp 
chikuma_nim_easiroc/logger/NIMEASIROCLoggerComp 
chikuma_nim_easiroc/dispatcher/DispatcherComp
*/autogen
*/.depend
